* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Arial", sans-serif;
    color: #ffffff;
    background-color: #abb5c0;
  }
  
  .container {
    width: 85%;
    margin: 0 auto;
  }
  
  nav {
    background-color: #000;
    padding: 15px 0;
  }
  
  .brand h2 {
    color: lightblue;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .homecl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
  
  .homecl-text h1 {
    font-size: 3rem;
  }
  
  .homecl-text span {
    color: #6182a0;
  }
  
  .homecl-img img {
    border-radius: 50%;
  }
  
  .about-text h2 {
    font-size: 2.5rem;
    color: #6182a0;
  }
  
  .projects {
    text-align: center;
    padding: 50px 0;
  }
  
  .projects-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .card {
    background-color: #000000;
    padding: 30px;
    border-radius: 10px;
    display: grid;
    gap: 20px;
  }
  
  .card i {
    font-size: 2rem;
    color: #4db5f5;
    
  }

  .card a{
    text-decoration: none;
    color: #4db5f5;
  }
  
  footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0;
  }
  
  .hire-btn {
    background-color: #2088f8;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    color: #525dfe;
    margin: 0 10px;
    font-size: 1.5rem;
  }
  .footer-content {
    gap: 18px;
    display: grid;
    color: #2088f8;
  }